body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

table.formTable>tbody>tr>th {
    vertical-align: top;
    text-align: left;
}

table.formTable label {
    font-weight: normal;
    font-style: italic;
    margin-left: 2px;
}

table#boardEdit td.layout {
}

table#boardEdit td.pieces {
    vertical-align: top;
}

table.board td {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    text-align: center;
    font-size: 8pt;
    line-height: 9pt;
    padding: 1px;
}

table#board_pieces td {
    border: 1px solid silver;
}

table.board td.blank { background-color: #ccc; }
table.board td.start { background-color: #cfc; }
table.board td.pit { background-color: #000; color: #fff; }

table.board td.belt_n_1 { background-color: #ffc; }
table.board td.belt_s_1 { background-color: #ffc; }
table.board td.belt_e_1 { background-color: #ffc; }
table.board td.belt_w_1 { background-color: #ffc; }

table.board td.belt_n_2 { background-color: #ccf; }
table.board td.belt_s_2 { background-color: #ccf; }
table.board td.belt_e_2 { background-color: #ccf; }
table.board td.belt_w_2 { background-color: #ccf; }

table.board td.gear_l { background-color: #ccc; color: #822; }
table.board td.gear_r { background-color: #ccc; color: #282; }
