<tr>
  <td><%= link_to board.name, board_url(board) %></td>
  <td><%=h board.description %></td>
  <td><%= link_to board.creator.login, user_url(board.creator) %></td>
  <td><%= board_operations(board, current_user) %><td>
</tr>