<h1>Boards#index</h1>
<div>
  Boards: <%= board_links %>.
  <% if current_user %> <%= link_to "Create Board", new_board_url() %> <% end %>
</div>
<div>
  <table><tbody>
    <tr><th>Name</th> <th>Description</th> <th>Creator</th> <th></th></tr>
    <%= render :partial => "board_li", :collection => @boards, :as => :board %>
  </tbody></table>
</div>

