<h1>Boards#show: <%= @board.name %> </h1>

<p><%=h @board.description %>:
<%= board_operations(@board, current_user) %>
</p>

<table class="board"><tbody>
  <% for row in @board.layout_text %>
  <tr>
    <% for tile in row %>
    <%= content_tag "td", tile.to_s.humanize, :class => tile %>
    <% end %>
  </tr>
  <% end %>
</tbody></table>
